
<div id="nav">
  <h1 id="title">my first ruby <span id="rials"> on rials </span> </h1>
    <ul>
      <li class="li"> <%=link_to("home", "home")%></li>
      <li class="li"><%=link_to("about", "about")%></li>
      <li class="li"><%=link_to("thanks", "thanks")%></li>
  </ul>
</div>

<div>
  <h1>my history</h1>
</div>
