
<div id="nav">
  <h1 id="title">my first ruby <span id="rials"> on rials </span> </h1>
    <ul>
      <li class="li"> <%=link_to("home", "home")%></li>
      <li class="li"><%=link_to("about", "about")%></li>
      <li class="li"><%=link_to("thanks", "thanks")%></li>
  </ul>
</div>

<div>
  <h1>my history</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eos ab eum nobis suscipit! Dolorum, commodi? Ipsa hic nobis incidunt? Veniam quibusdam dolorem sunt officiis recusandae nihil repellendus vitae asperiores?</p>
  <article>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium id cupiditate perferendis ea. Quo maxime repellendus magni vel omnis, harum libero provident, minima velit unde enim ullam neque deleniti illum?
  Iste dolorem delectus vero, minima possimus nemo culpa quo quasi, quas perferendis ut. Necessitatibus consequuntur molestiae, tempora exercitationem adipisci tempore. Voluptate perspiciatis, numquam dicta suscipit alias asperiores tempore. Suscipit, recusandae!</article>
</div>
