/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#title {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  letter-spacing: 0.7rem;
}

#rials {
  font-family: fantasy;
  font-weight: lighter;
}

#nav {
  background-color: rgb(240, 199, 97);
  text-transform: capitalize;
  font-size: larger;
  padding: 0.5rem;
}

#nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul>li.li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(47, 201, 201);
}

.li:hover {
  color: aqua;
}

ul>.li::before {
  content: "\2234";
}

h1 {
  text-align: center;
}

#main {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content {
  border: solid 1px goldenrod;
  border-radius: 2rem;
  padding: 2rem;
}

.article {
  margin-right: 1rem;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#drag1 {
  width: 300px;
  height: 150px;
}

#drag2 {
  width: 300px;
  height: 150px;
}

#drag3 {
  width: 300px;
  height: 150px;
}

#drag4 {
  width: 40%;
}

#thanks {
  display: flex;
  justify-content: center;
  width: 100%;
}

#footer {
  text-align: center;
}

@media (max-width: 600px) {
  #nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
  }
  #main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .article {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  #drag1 {
    margin-bottom: 1rem;
  }
  #drag2 {
    margin-bottom: 1rem;
  }
}